
/* Search Bar */
#search-by {
  width: 30%;
  transition: width 0.2s ease-in-out;
  min-width: 150px;
}

#search-by:focus {
  width: 90%;
  outline: 0 none;
}

@media (max-width: 768px){
  #top-nav-main ul{
    text-align: center;
  }
  div#search-by-container{
    text-align: center;
    padding-left: 10%;
    padding-right:10%;
  }
  #search-by-container{
    text-align: center;
    display: block;
  }
  #search-by{
    width: 50%;
    margin: 0 auto;
  }
  #search-by:focus {
    width: 100%;
    margin: 0 auto;
  }
}

/* Table of Contents */
#contents {
  counter-reset: count;
  max-width: 600px;
  margin: auto;
  padding: 15px 10px 15px 0;
  background: none;
  border: 1px none rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
#contents.wide {
  max-width: none;
  margin-bottom: 24px;
}
#contents ol {
  margin: 0;
}
#contents li {
  line-height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  margin-right: auto;
  counter-increment: count;
}
#contents li:last-child {
  border-bottom: none;
}
#contents a {
  font-size: 14px;
  display: block;
  text-decoration: none;
  position: relative;
  padding-left: 24px;
  color: #259d92;
}
#contents a:before {
  position: absolute;
  left: 0;
  content: counter(count, decimal-leading-zero);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
}
#contents a:hover {
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #000;
  text-decoration: underline;
}
#contents > ol > ul{
      margin:0;
}
#toc-open{
  text-decoration: none;
  color: black;
  position: fixed;
  bottom: 30%;
  left: -30px;
}
a > #toc-open{
  text-decoration: none;
}
#toc-button{
  font-size: 16px;
  transform: rotate(270deg);
  margin: auto;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  border-left-style: none;
}
#toc-button::before{
  font-size: 22px;
}
#toc-button:hover{
  font-size: 16px;
  transform: rotate(270deg);
  margin: auto;
  padding: 5px;
  border-radius: 0 0 4px 4px;
  border-left-style: none;
  background: #ff3366;
}
.fa-plus:before {
    content: "\f067";
    font-size: .85em;
}

/* Code */
code {
  background: #f8f8f8;
}