{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>
    <p>{{.Params.description}}<br></p>
    <br>
    <div>
      <a href="mailto:youn0737@umn.edu"><i class="far fa-envelope fa-2x success"></i></a>
      <a target = "_blank" href = "https://scholar.google.com/citations?user=5DWz3JsAAAAJ&hl=en&authuser=1"><i class="ai ai-google-scholar ai-2x success"></i></a>
      <a target = "_blank" href = "https://osf.io/vr5yx/"><i class="ai ai-osf ai-2x success"></i></a>
      <a target = "_blank" href = "https://www.researchgate.net/profile/Ethan_Young3"><i class="ai ai-researchgate ai-2x success"></i></a>
      <a target = "_blank" href = "https://github.com/ethan-young"><i class="fab fa-github fa-2x success"></i></a>
    </div>
</div>

<div id="kube-content" class="content" style="padding-top: 24px;">

  {{ partial "toc" .}}

  <a id="toc-open" href="#" data-component="offcanvas" data-target="#offcanvas-left" data-direction="left">
    <span id="toc-button" class = "label success">Navigate <i class="fas fa-plus"></i></span>
  </a>

  {{.Content}}

</div>

<ul id="posts">
 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
</ul>

<style>
  i.far:hover{
    color: #ff3366;
  }
  i.fab:hover{
    color: #ff3366;
  }
  i.ai:hover{
    color: #ff3366;
  }
  h3:after {
    content: '#';
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 8px;
    position: relative;
    top: -1px;
  }
  h3{
    text-align: center;
  }
  h3 > a {
    text-decoration: none;
    text-align: center;
  }
</style>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
